# Tech team owns all code by default
* @shalion/tech-general @shalion/tech-managers

# Platform team overrides for GitHub config and Terraform infrastructure
.github/ @shalion/platforms-general @shalion/platforms-manager
terraform/ @shalion/platforms-general @shalion/platforms-manager
